body {
    height: 0%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.page-content {
    flex: 1;
}

h1 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 1.5em;
    max-width: 900px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 0.9em;
    text-align: center;
    max-width: 900px;
    margin: 5px 10px 10px 10px;
}

.portfolio,
.career,
.intro {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

.intro img {
    width: clamp(80px, 20vw, 200px);
    border-radius: 8px;
}

.badge-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
}

.badge-panel badge {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 1.0em;
    background-color: black;
    margin: 5px 5px 5px 5px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.badge-panel img {
    border-radius: 0%;
    margin: 5px 2px 15px 2px;
    width: auto;
    height: 45px;
}

.portfolio-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

:root {
    --card-height: 40vh;
    --card-width: calc(var(--card-height) / 1.6);
}

.portfolio-card {
    background: rgb(15, 15, 15);
    width: var(--card-width);
    height: var(--card-height);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    transition: transform 0.1s;
    max-height: 60%;
    object-fit: cover;
    flex-grow: 1;
}

.portfolio-card h1 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 1.1em;
    text-align: center;
    flex-shrink: 0;
    margin: 10px 0 0 0;
}

.portfolio-card h2 {
    color: #ffffff;
    font-family: "poppins-medium", sans-serif;
    font-size: 0.9em;
    text-align: center;
    flex-shrink: 0;
    margin: 10px 0 0 0;
}

.portfolio-card gh {
    color: white;
    bottom: 4.5rem;
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    transition: transform 0.5s;
}

.portfolio-card:hover {
    gh {
        transform: scale(1.2);
    }
}

.portfolio-card:hover a {
    animation: redToWhiteGradient 2.5s linear infinite;
}

@keyframes redToWhiteGradient {
    0% {
        color: #ff0000;
    }

    50% {
        color: #ffffff;
    }

    100% {
        color: #ff0000;
    }
}

html a {
    text-decoration: none;
    color: #ffffff;
}


@media (max-width: 600px) {
    .badge-panel {
        align-items: flex-start;
        justify-content: center;
    }

}
